*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #282d2d;
    overflow: hidden;

}
.content{
    position: relative;

}
.header{
    width: 100%;
    max-width: 1400px;
    padding: 2.5rem;
    display: grid;
    grid-auto-flow: column;
    margin: auto;
    justify-content: space-between;
}
.header .logo{
   display: grid;
   align-items: center;
   grid-auto-flow: column;
   gap: 1rem; 
}
.header .logo .logoIcon{
    width: 46px;
    height: 46px;
    background: linear-gradient(15deg, #73fac8,#00bee1);
    border-radius: 50%;
}

p{
    color: #fff;
    font-weight: 500;
}


.header .menu i{
    font-size: 1.5rem;
    color:#fff ;
    position: relative;
    z-index: 999;
}
.header .menu .sideBar_menu{
    width: 400px;
    position: absolute;
    /* right: -500px; */
    right: -700px;
    background-color:#00bee1 ;
    height: 100vh;
    top:0;
}

.header .menu #check:checked ~ .sideBar_menu{
    right: 0;
    transition: 1s;
}
.header .menu #check:not(:checked) ~ .sideBar_menu{
    right: -700px;
    transition: 1s;
}
#check{
    display: none;
}